body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

#news-img {
    width: 100%;
}

#news-list {
    list-style-type:none;
}

.news-item-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

.news-item {
    background-color: whitesmoke;
    border-top: 5px solid chartreuse;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    margin-bottom: 10px;
  }

.news-text {
    padding: 5px;
  }